/* =======================
  Variables CSS
  ======================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Onest:wght@400&display=swap');

:root {
  --color-bg: #f5f7fb;
  --color-bg-light: #ffffff;
  --color-bg-dark: #061428;
  --color-primary: #2674ff;
  --color-primary-soft: #d7e4ff;
  --color-accent: #00c48c;
  --color-negative: #ff4d4f;
  --color-text: #1f2933;
  --color-text-soft: #6b7280;
  --color-border-soft: #e2e8f0;
  --color-standard-light: #0f7f4f;
  --color-standard: #0c4c1c;
  --color-gray-bootstrap: #6c757d;
  --color-green-a: #49ac17;
  --shadow-soft: 0 8px 24px rgba(15, 23, 42, 0.08);
  --radius-card: 16px;
  
  --font-main: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

/* =======================
  CORE
  ======================= */
html { 
  scroll-behavior: smooth;
  font-size: 14px !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--font-main);
  line-height: 1.5 !important;
  background-color: transparent !important;
}

/* =======================
  DATA-PANEL
  ======================= */
.data-panel {
  max-width: clamp(900px, 100%, 1152px) !important;
  margin: 0 auto;
  padding: 0;
  box-shadow: var(--shadow-soft);
  font-size: 0.8rem ;
}

/* ============================================================
   BORDES TABLA
   ============================================================ */

.dataTables_scroll,
.dataTables_scrollHead,
.dataTables_scrollBody,
table.dataTable {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
} /* Sirve para que no se genere un scroll horizontal */

.dataTables_scrollHead {
  border: 3px solid #fff !important;
  border-bottom: none !important;
}

.dataTables_scrollHead .dataTable{
  border-collapse: collapse !important;
}

.dataTables_scrollHead .dataTable thead th {
  height: 2.2rem;
  padding: 0.25rem 0.25rem !important;
  line-height: 1rem;
}

.dataTables_scrollHead .dataTable thead th:nth-child(2){
  text-align: left;
}

.dataTables_scrollBody {
  border: 3px solid #fff !important;
  border-top: none !important;
}

.dataTables_scrollBody .dataTable {
  border-collapse: collapse !important;
  padding-bottom: 0 !important;
}

.dataTables_scrollBody .dataTable tbody td {
  height: 2.2rem;
  padding: 0.25rem 0.25rem !important;
  line-height: 1rem ;
}

.dataTables_scrollBody .dataTable tbody td:nth-child(2) {
  text-align: left;
}

th, td {
  border: 1px solid #000000;
} 

td {
  background-color: #ffffff;
  color: #000000;
}

thead th {
  background-color: #0c4c1c;
  color: white;
}

/* ============================================================
   SORTING
   ============================================================ */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before {
  display: none !important;
}

table.dataTable thead th.sorting,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

/* ============================================================
   FILTER
   ============================================================ */
.dataTables_filter {
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 0.7rem !important;
  border-radius: 0.6rem;
  justify-self: left;
  float: left !important;
  text-align: left !important;
  font-size: 1rem;
}

.dataTables_filter input {
  width: 13rem !important;
  font-size: 1em;
}

/* ============================================================
  SCROLL
  ============================================================ */
.dataTables_scrollBody::-webkit-scrollbar {
  height: 8px !important;
  width: 8px !important;
}
