<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Dinámica de series trimestrales</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="assets/css/styles-paneles-t.css" />
  <link rel="icon" type="image/x-icon" href="../assets/images/soloLogoBCSF.png">
</head>

<body>

  <header class="site-header">
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="https://www.bcsf.com.ar/ces/graficas-interactivas.php" target="_blank" rel="noopener noreferrer">
          <img src="../assets/images/soloLogoCES.png" alt="Logo" class="logo-image" />
        </a>
        <a href="https://www.bcsf.com.ar/ces/graficas-interactivas.php">CENTRO DE ESTUDIOS Y SERVICIOS</a>
      </div>
      <button class="navbar-toggle" id="navbar-toggle" aria-label="Toggle navigation">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <ul class="navbar-links" id="navbar-links">
        <li><a href="#hero">Inicio</a></li>
        <li><a href="#paneles">Paneles</a></li>
        <li><a href="#referencias">Referencias</a></li>
      </ul>
    </nav>
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']]
        },
        svg: { fontCache: 'global' }
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js" async></script>
  </header>

  <!-- Hero section -->
  <main>
    <section id="hero" class="hero">
      <div class="hero-content">
        <h1>Dinámica de todas las series trimestrales procesadas</h1>
        <h3>
          Actualizado al <!-- inject:update_date -->
        </h3>
      </div>
      <div class="notice-card">
        <p>
          Las cifras presentadas en los paneles se basan en información desestacionalizada, por lo que pueden diferir
          levemente de las publicadas en algunos reportes escritos.
        </p>
      </div>
    </section>

    <section id="paneles" class="section section-dark">
      <div class="section-header">
        <h2>Panel | Variaciones trimestrales (%)</h2>
        <p>
          Pulse los códigos en Series para ampliar y el título de cada columna para reordenar
        </p>
      </div>
      <div class="data-panel" id="datatable-panel">
        <!-- inject:datatable_panel -->
      </div>
      <div class="section-header">
        <h2 style="margin-top: 1rem;">Panel | Variaciones interanuales (%)</h2>
        <p>
          Pulse los códigos en Series para ampliar y el título de cada columna para reordenar
        </p>
      </div>
      <div class="data-panel" id="datatable-panel">
        <!-- inject:datatable_panel_ia -->
      </div>
    </section>

    <section id="referencias" class="section section-light">
      <div class="methodology-text">
        <h3>Referencias</h3>
        <p>Conceptos utilizados en los paneles, fórmulas y clasificaciones</p>
        <h3>Variaciones trimestrales (%)</h3>
        <p>
          Con datos desestacionalizados, las variaciones trimestrales representan el cambio porcentual
          de una serie respecto del trimestre previo.
          Dado un indicador $Y$, en el trimestre $t$, el cálculo se realiza:
        </p>

        <div class="texto-latex">
          $$VT_t\% = \frac{Y_{(t)}-Y_{(t-1)}}{Y_{(t-1)}} \times 100$$
        </div>

        <h3>Variaciones interanuales (%)</h3>
        <p>
          Con datos desestacionalizados, las variaciones interanuales representan el cambio porcentual relativo de una serie de un
          trimestre respecto al mismo trimestre del año previo.
          Dado un indicador $Y$, en el trimestre $t$, el cálculo se realiza:
        </p>

        <div class="texto-latex">
          $$VIA_t\% = \left\{\frac{Y_{(t)}-Y_{(t-4)}}{Y_{(t-4)}}\right\} \times 100$$
        </div>

        <h3>Estadísticos</h3>
        <p>
          μ: Promedio histórico de las variaciones trimestrales/interanuales de la serie <br>
          σ: Desvío estándar de las variaciones trimestrales/interanuales de la serie
        </p>

        <h3>Prefijos</h3>
        <p>
        GLO: Indicadores globales.<br>
        ARG: Indicadores nacionales.<br>
        SFE: Indicadores de la provincia de Santa Fe.
        </p>

        <h3>Indicadores</h3>
        <p id="glosario-indicadores">
          <!-- inject:glosario_indicadores -->
        </p>
        <h3>Grupos de clasificación</h3>
        <p style="margin-bottom: 0px !important;">
        G1: Producto y actividad económica<br>
        G2: Percepción macroeconómica<br>
        G3: Mercado inmobiliario y sector de la construcción<br>
        G4: Mercado de trabajo<br>
        G5: Industria<br>
        G6: Sector externo<br>
        G7: Recursos y gastos del sector público provincial<br>
        G8: Mercado de capitales<br>
        G9: Patentamientos, transferencias y circulación vehicular<br>
        G10: Consumo minorista<br>
        G11: Otros indicadores<br>
        </p>
      </div>
    </section>
  </main>

  <footer class="site-footer">
    <div class="footer-content">
      <p class="texto-mediano">Centro de Estudios y Servicios</p>
      <p style="margin: 0;">San Martín 2231 (S3000FRW) · Santa Fe · República Argentina<br>
        Teléfono: +54 342 4845800<br>Correo electrónico: ces@bcsf.com.ar<br>
        © BCSF · Todos los derechos reservados
      </p>
    </div>
  </footer>

  <div class="scrollTop" id="btnScrollTop" onclick="scrollTopPage();">
    <img src="../assets/images/icono_volver_arriba.webp" class="flechaarriba" alt="Subir">
  </div>

  <script src="../assets/js/script.js"></script>
</body>

</html>