  <strong>SFE-CEM</strong>: Consumo de cemento pórtland en la provincia de Santa Fe<br>
  <strong>SFE-EXE</strong>: Expectativas de nuevos puestos vacantes en la provincia de Santa Fe<br>
  <strong>SFE-NTTA</strong>: Total de empleados registrados en la provincia de Santa Fe<br>
  <strong>SFE-REM</strong>: Masa de remuneraciones reales del formales en la provincia de Santa Fe<br>
  <strong>SFE-IND</strong>: Índice Compuesto de Evolución Industrial (ICEI) de la provincia de Santa Fe<br>
  <strong>SFE-RTT</strong>: Recursos tributarios provinciales (recaudación local + coparticipación)<br>
  <strong>SFE-RGVN</strong>: Patentamientos de vehículos nuevos en la provincia de Santa Fe<br>
  <strong>SFE-VIPA</strong>: Ventas de supermercados (grandes superficies)
