GLO-BARC: Global Economic Barometer | Coincident<br>
GLO-BARL: Global Economic Barometer | Leading<br>
ARG-IGA: Índice General de Actividad de Argentina<br>
SFE-ICC: Índice de Confianza del Consumidor (ICC) del interior<br>
SFE-ASF: Asfalto comercializado en la provincia de Santa Fe<br>
SFE-CEM: Consumo de cemento en la provincia de Santa Fe<br>
SFE-ESC1: Escrituras de ventas de la 1ra cirscunscripción de Santa Fe (Centro-Norte)<br>
SFE-ESC2: Escrituras por ventas entregadas por escribanos de la segunda cirscunscripción de Santa Fe (Sur)<br>
SFE-ESCT: Escrituras por ventas entregadas por escribanos en la provincia de Santa Fe<br>
SFE-SUP: Superficie cubierta autorizada en algunos municipios de la provincia de Santa Fe<br>
SFE-SUPT: Superficie cubierta autorizada en el total de la provincia<br>
SFE-ART: Personas cubiertas en ARTs en la provincia de Santa Fe<br>
SFE-EXE: Expectativas empresarias para tomar personal en la provincia de Santa Fe<br>
SFE-ID: Remuneraciones reales brutas de asegurados en ARTs en la provincia de Santa Fe<br>
SFE-NPIA: Empleados registrados en el sector privado formal de la provincia de Santa Fe<br>
SFE-NPN: Empleados públicos nacionales en la provincia de Santa Fe<br>
SFE-NPP: Planta ocupada del sector público provincial<br>
SFE-NTTA: Total de empleados registrados en la provincia de Santa Fe<br>
SFE-REM: Remuneración al factor trabajo en la provincia de Santa Fe<br>
SFE-RMP: Remuneración bruta real media de públicos provinciales<br>
SFE-RMT1: Remuneración bruta real media de privados y públicos nacionales<br>
SFE-UP: Unidades productivas de la provincia de Santa Fe que declaran coberturas de RRHH en ARTs<br>
SFE-EEI: Consumo de energía eléctrica industrial - incluye cooperativas<br>
SFE-EIP: Consumo de energía eléctrica industrial - no incluye cooperativas<br>
SFE-EIP2: Consumo de energía eléctrica industrial y comercial (grandes usuarios)<br>
SFE-GIND: Consumo de gas industrial en la provincia de Santa Fe<br>
SFE-GPME: Consumo de gas de PyMEs de la provincia de Santa Fe<br>
SFE-HCL: Consumo de hidrocarburos líquidos en la provincia de Santa Fe<br>
ARG-IL1: Serie líder industrial | Rama textil<br>
ARG-IL2: Serie líder industrial | Rama metalmecánica<br>
ARG-IL3: Rama minerales no metálicos del IPI Argentina<br>
ARG-IL4: Rama metalmecánica del IPI Argentina<br>
ARG-IL5: Índice de capacidad instalada general de la industria argentina<br>
ARG-IPIM: Índice de Producción Industrial Manufacturero de Argentina<br>
SFE-FAAV: Faena de aves en la provincia de Santa Fe<br>
SFE-FABO: Faena de bovinos en la provincia de Santa Fe<br>
SFE-FAEN: Faena bovina, porcina y aviar en la provincia de Santa Fe<br>
SFE-FAPO: Faena de porcinos en la provincia de Santa Fe<br>
SFE-GIRA: Molienda de girasol en la provincia de Santa Fe<br>
SFE-IND: Índice Compuesto de Evolución Industrial (ICEI) de la provincia de Santa Fe<br>
SFE-IND2: Índice de producción industrial de la provincia de Santa Fe<br>
SFE-INMA: Componente Industria Manufacturera del IMAE<br>
SFE-LCT: Producción láctea en la provincia de Santa Fe<br>
SFE-MAQ: Producción de maquinaria agrícola en Santa Fe<br>
SFE-MAQE: Rama Maquinaria y Equipo del IPIM, con pornderación Santa Fe<br>
SFE-OLEO: Molienda de soja y girasol en la provincia de Santa Fe<br>
SFE-PATM: Patentamiento de maquinaria en Santa Fe<br>
SFE-QUIM: Rama Sustancias y Productos Químicos del IPIM, con ponderación Santa Fe<br>
SFE-SOJA: Molienda de soja en la provincia de Santa Fe<br>
ARG-COMD: Índice de precios de materias primas de exportación (en USD)<br>
ARG-M: Importaciones argentinas de bienes<br>
ARG-X: Exportaciones argentinas de bienes<br>
SFE-X: Exportaciones de bienes con origen en la provincia de Santa Fe<br>
SFE-XCER: Exportación de cereales por puertos santafesinos (maíz y trigo)<br>
SFE-XMOA: Exportaciones de MOA con origen en la provincia de Santa Fe<br>
SFE-XMOI: Exportaciones de MOI con origen en la provincia de Santa Fe<br>
SFE-XPP: Exportaciones de PP con origen en la provincia de Santa Fe<br>
SFE-COPA: Recursos tributarios de origen nacional (Coparticipación)<br>
SFE-GTOT: Gasto público total provincial<br>
SFE-IIBB: Recaudación del impuesto a los ingresos brutos en la provincia de Santa Fe<br>
SFE-REC: Recursos tributarios de origen provincial<br>
SFE-RTT: Recursos tributarios de la provincia de Santa Fe<br>
SFE-SELL: Recaudación del impuesto de sellos en la provincia de Santa Fe<br>
ARG-BANY: Índice Merval en relación al SYP500<br>
ARG-FCAP: Financiamiento total en el mercado de capitales<br>
ARG-MVDO: Índice SYP Merval<br>
USA-SYP: SYP 500 Index<br>
SFE-MOTP: Patentamiento de motos la provincia de Santa Fe<br>
SFE-MOTT: Transferencia de motos usadas en la provincia de Santa Fe<br>
SFE-PCAT4: Pasantes autopista Santa Fe / Rosario - Categoría 4: vehículos entre 2 y 4 ejes<br>
SFE-PCAT5: Pasantes autopista Santa Fe / Rosario - Categoría 5: vehículos entre 4 y 6 ejes<br>
SFE-PTOT: Pasantes autopista Santa Fe / Rosario<br>
SFE-RGVN: Patentamiento de automotores en la provincia de Santa Fe<br>
SFE-RGVT: Transferencia de usados y patentamientos de automotores en la provincia de Santa Fe<br>
SFE-RGVU: Transferencia de automotores usados en la provincia de Santa Fe<br>
ARG-CAME: Volúmenes físicos de ventas minoristas en Argentina<br>
SFE-IVA: Recaudación de Impuesto Valor Agregado (IVA) en la provincia de Santa Fe<br>
SFE-VIPA: Ventas en supermercados de gran superficie en la provincia de Santa Fe<br>
SFE-VTS: Ventas en supermercados de gran superficie en la provincia de Santa Fe<br>
SFE-VTCR: Valor de la tierra | Zona de cría<br>
SFE-VTIN: Valor de la tierra | Zona de invernada<br>
SFE-VTMA: Valor de la tierra | Zona maicera<br>
SFE-VTTR: Valor de la tierra | Zona triguera
