SFE-CEM: Consumo de cemento en la provincia de Santa Fe<br>
SFE-EXE: Expectativas de nuevos puestos vacantes en la provincia de Santa Fe<br>
SFE-NTTA: Total de empleados registrados en la provincia de Santa Fe<br>
SFE-REM: Masa de remuneraciones reales del formales en la provincia de Santa Fe<br>
SFE-IND: Índice Compuesto de Evolución Industrial (ICEI) de la provincia de Santa Fe<br>
SFE-RTT: Recursos tributarios provinciales (recaudación local + coparticipación)<br>
SFE-RGVN: Patentamientos de vehículos nuevos en la provincia de Santa Fe<br>
SFE-VIPA: Ventas en supermercados de gran superficie en la provincia de Santa Fe
