SFE-CEM: Consumo de cemento en la provincia de Santa Fe<br>
SFE-EXE: Expectativas empresarias para tomar personal en la provincia de Santa Fe<br>
SFE-NTTA: Total de empleados registrados en la provincia de Santa Fe<br>
SFE-REM: Remuneración al factor trabajo en la provincia de Santa Fe<br>
SFE-IND: Índice Compuesto de Evolución Industrial (ICEI) de la provincia de Santa Fe<br>
SFE-RTT: Recursos tributarios de la provincia de Santa Fe<br>
SFE-RGVN: Patentamiento de automotores en la provincia de Santa Fe<br>
SFE-VIPA: Ventas en supermercados de gran superficie en la provincia de Santa Fe
